* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid gray;
  }

  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button[type="submit"]:hover {
    background-color: #0069d9;
  }

  .input-icon {
    position: relative;
  }

  .input-icon i {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
  }