<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
				 <div th:if="${files.type == 'image/jpeg'}">
          <img th:src="@{/preview/{name}(name=${files.name})}" />
        </div>
        <div th:if="${files.type == 'application/pdf'}">
          <object th:data="@{/preview/{name}(name=${files.name})}" type="application/pdf" width="100%" height="600px">
            <p>PDF Preview</p>
          </object>
        </div>
        <div th:if="${files.type == 'audio/mpeg'}">
          <audio controls th:src="@{/preview/{name}(name=${files.name})}">
            <p>Your browser does not support the audio element.</p>
          </audio>
        </div>
        <div th:if="${files.type == 'video/mp4'}">
          <video controls width="100%" th:src="@{/preview/{name}(name=${files.name})}">
            <p>Your browser does not support the video element.</p>
          </video>
        </div>
      
			</div>
</body>
</html>